{% extends "layout.html" %}
{% set active_page = "Test" %}
{% block body %}

        <script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox({
  padding: 0,
  margin: 50,
    openEffect  : 'drop',
    closeEffect : 'drop',
    nextEffect  : 'elastic',
    prevEffect  : 'elastic',
  helpers: {
    overlay: {
      locked: false
    },
      title	: { type : 'float' },
			buttons	: {}

  }
});
	});
    </script>


<div class="container">
fancybox test
    <br>
<a class="fancybox" rel="group"  href="http://placehold.it/350x350.png"><img src="http://placehold.it/150x150.png"/></a>
<a class="fancybox" rel="group"  href="http://placehold.it/350x350.png/00ff00.png"><img src="http://placehold.it/150x150/00ff00.png"/></a>

</div>
{% endblock %}
